<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Login - CRM-System</title>
    <script src="/dependency/axios/dist/axios.js"></script>
    <script type="module" src="/res/scripts/login.js"></script>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<div class="container">
    <h1>Login</h1>
    <p id="error"></p>
    <form id="login">
        <p><label>Username: <input type="text" name="username"></label></p>
        <p><label>Password: <input type="password" name="password"></label></p>
        <p><input type="submit" class="btn btn-success"></p>
    </form>
</div>
</body>
</html>