<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - CRM-System</title>
    <script src="/dependency/axios/dist/axios.js"></script>
    <script type="module" src="/res/scripts/login.js"></script>
</head>
<body>
<h1>Login</h1>
<p id="error"></p>
<form id="login">
    <p><label>Username: <input type="text" name="username"></label></p>
    <p><label>Password: <input type="password" name="password"></label></p>
    <p><input type="submit"></p>
</form>
</body>
</html>