<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchases - CRM-System</title>
    <script src="/dependency/axios/dist/axios.js"></script>
    <script type="module" src="/res/scripts/purchase.js"></script>
</head>
<body>
<a href="index.html">Home</a>
<a href="customer.html">Customers</a>
<a href="item.html">Items</a>
<a href="special-offer.html">Special offers</a>
<a href="purchase.html">Purchases</a>
<a href="" id="logout">Logout</a>
<h1>Purchases</h1>
<noscript>Please enable JavaScript, otherwise the application will not work. </noscript>
<p id="delete-error"></p>
<button id="new-button">+</button>
<table id="purchases">
    <caption hidden>Purchases</caption>
    <thead>
    <tr>
        <th id="id">ID</th>
        <th id="customer">Customer</th>
        <th id="item">Item</th>
        <th id="quantity">Quantity</th>
        <th id="date">Date</th>
        <th id="price">Price</th>
        <th id="options">Options</th>
    </tr>
    </thead>
</table>
<p id="error"></p>
<form id="new-form" hidden>
    <h2>Insert new purchase</h2>
    <p><label>Customer: <select name="customer"></select></label></p>
    <p><label>Item: <select name="item"></select></label></p>
    <p><label>Quantity: <input type="number" min="1" name="quantity"></label></p>
    <p><label>Date: <input type="date" name="date"></label></p>
    <p>
        <input type="submit" value="Save">
        <button id="new-cancel">Cancel</button>
    </p>
</form>
<form id="edit-form" hidden>
    <h2>Edit purchase</h2>
    <p></p>
    <p><label>Customer: <select name="customer"></select></label></p>
    <p><label>Item: <select name="item"></select></label></p>
    <p><label>Quantity: <input type="number" min="1" name="quantity"></label></p>
    <p><label>Date: <input type="date" name="date"></label></p>
    <p>
        <input type="submit" value="Save">
        <button id="edit-cancel">Cancel</button>
    </p>
</form>
</body>
</html>
