<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Special Offers - CRM-System</title>
    <script src="/dependency/axios/dist/axios.js"></script>
    <script type="module" src="/res/scripts/special-offer.js"></script>
</head>
<body>
<a href="index.html">Home</a>
<a href="customer.html">Customers</a>
<a href="item.html">Items</a>
<a href="special-offer.html">Special offers</a>
<a href="purchase.html">Purchases</a>
<a href="" id="logout">Logout</a>
<h1>Special Offers</h1>
<noscript>Please enable JavaScript, otherwise the application will not work. </noscript>
<p id="delete-error"></p>
<button id="new-button">+</button>
<table id="special-offers">
    <caption hidden>Special offer</caption>
    <thead>
    <tr>
        <th id="id">ID</th>
        <th id="item">Item</th>
        <th id="quantity">Quantity</th>
        <th id="price">Price</th>
        <th id="begin">Begin</th>
        <th id="expiration">Expiration</th>
    </tr>
    </thead>
</table>
<p id="error"></p>
<form id="new-form" hidden>
    <h2>Insert new Special offer</h2>
    <p><label>Select item: <select name="item"></select></label></p>
    <p><label>Quantity: <input type="number" min="1" name="quantity"></label></p>
    <p><label>Price: <input type="number" min="0.01" step="0.01" name="price"></label></p>
    <p><label>Begin: <input type="date" name="begin"></label></p>
    <p><label>Expiration: <input type="date" name="expiration"> </label></p>
    <p>
        <input type="submit" value="Save">
        <button id="new-cancel">Cancel</button>
    </p>
</form>
<form id="edit-form" hidden>
    <h2>Edit special offer</h2>
    <p></p>
    <p><label>Select item: <select id="editSelect" name="item">

    </select></label></p>
    <p><label>Quantity: <input type="number" min="1" name="quantity"></label></p>
    <p><label>Price: <input type="number" step="0.01" min="0.01" name="price"></label></p>
    <p><label>Begin: <input type="date" name="begin"></label></p>
    <p><label>Expiration: <input type="date" name="expiration"></label></p>
    <p>
        <input type="submit" value="Save">
        <button id="edit-cancel">Cancel</button>
    </p>
</form>
</body>
</html>
