<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Special Offers - CRM-System</title>
    <script src="/dependency/axios/dist/axios.js"></script>
    <script type="module" src="/res/scripts/special-offer.js"></script>
    <link href="/res/styles.css" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="customer.html">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="item.html">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="special-offer.html">Special offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="purchase.html">Purchases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <img src="/res/images/preisschilder-aktionssterne-sond.jpg" alt="special offer" class="img-fluid">
    <h1>Special Offers</h1>
    <noscript class="error">Please enable JavaScript, otherwise the application will not work. </noscript>
    <p id="delete-error" class="error"></p>
    <button id="new-button" class="btn btn-primary">+</button>
    <table id="special-offers" class="table">
        <caption hidden>Special offer</caption>
        <thead>
        <tr>
            <th id="id" scope="col">ID</th>
            <th id="item" scope="col">Item</th>
            <th id="quantity" scope="col">Quantity</th>
            <th id="price" scope="col">Price</th>
            <th id="begin" scope="col">Begin</th>
            <th id="expiration" scope="col">Expiration</th>
        </tr>
        </thead>
    </table>
    <p id="error" class="error"></p>
    <form id="new-form" hidden>
        <h2>Insert new Special offer</h2>
        <p><label>Select item: <select name="item"></select></label></p>
        <p><label>Quantity: <input type="number" min="1" name="quantity"></label></p>
        <p><label>Price: <input type="number" min="0.01" step="0.01" name="price"></label></p>
        <p><label>Begin: <input type="date" name="begin"></label></p>
        <p><label>Expiration: <input type="date" name="expiration"> </label></p>
        <p>
            <button type="submit" class="btn btn-success">Save</button>
            <button id="new-cancel" class="btn btn-danger">Cancel</button>
        </p>
    </form>
    <form id="edit-form" hidden>
        <h2>Edit special offer</h2>
        <p></p>
        <p><label>Select item: <select id="editSelect" name="item">

        </select></label></p>
        <p><label>Quantity: <input type="number" min="1" name="quantity"></label></p>
        <p><label>Price: <input type="number" step="0.01" min="0.01" name="price"></label></p>
        <p><label>Begin: <input type="date" name="begin"></label></p>
        <p><label>Expiration: <input type="date" name="expiration"></label></p>
        <p>
            <button type="submit" class="btn btn-success">Save</button>
            <button id="edit-cancel" class="btn btn-danger">Cancel</button>
        </p>
    </form>
</div>
</body>
</html>
